---
import { FluidPercentages, SpacingNumbers } from "~/types";

type AllowedFlexClasses =
  | "justify-between"
  | "justify-around"
  | "justify-evenly"
  | "justify-center";

interface Props {
  widthClass?: `w-${FluidPercentages}`;
  gap?: `gap-${SpacingNumbers}`;
  flexClasses?: `flex ${AllowedFlexClasses | ""}`;
}

const { widthClass, gap = "gap-4", flexClasses } = Astro.props;
---

<div
  class:list={[
    "grid place-items-center",
    widthClass || "",
    gap,
    flexClasses,
    flexClasses && "items-center",
  ]}
>
  <slot />
</div>
